{% extends './layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h3>Late Night Vegan Snacks</h3>
					<h1 class="hand-writing">The Rolling Tomato</h1>
					<h5>Delivering your munchy fix. It`s never too late to eat great.</h5>
					<h5>Call <a class="btn btn-success" href='tel:5148879899'><i class="fa fa-phone"></i> 514 887-9899</a> or Tweet your order...</h5>				
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
					<a class="twitter-timeline"  href="https://twitter.com/tomateroulante" data-widget-id="529753107995951104">Tweets by @tomateroulante</a>
            		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">
 					<i class="fa fa-heart-o"></i>
 					<h4>We want to feed you</h4>
 					<p>Late night food choices can be limited.  Vegan food is delicious, satisfying and different and we offer creative, homemade snacks so you can feel guilt-free about eating late.</p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-money"></i>
 					<h4>5 Dollars is Enough</h4>
 					<p>We believe fast food is not the only price savvy option to eat. A truth about vegan food: It is cheap to make! Unfortunately, restaurants are expensive to maintain. We found the solution to this equation and are passing the savings to our customers.</p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-bolt"></i>
 					<h4>Munchies Rolling your way</h4>
 					<p>Don’t look for great food, call for it. Our bike delivery system strives to be speedy as well as ecological. So you can satisfy your hunger and we can help combat climate change.</p>
 				</div>		 				
	 		</div>
	 	</div><!--/container -->
	</div><!--/service -->
	 
	<!-- *****************************************************************************************************************
	 MAP SECTION
	 ***************************************************************************************************************** -->
	<div id="mapwrap">
		<div class="overlay" onClick="style.pointerEvents='none'"></div>
		<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zWSMbtQXCRF4.kCF9H9trG2-g" style="width:100%;" height="480" scrolling='yes'></iframe></iframe>
	</div>
	 
	<!-- *****************************************************************************************************************
	 MIDDLE CONTENT
	 ***************************************************************************************************************** -->

	<div id="infowrap" class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-4 col-lg-offset-1">
		 		<h4>About us</h4>
		 		<p>Our idea stemmed from our own personal experiences, when looking for late night eats in the west of Montreal, we found French fries and falafel. We are not against those, but we also saw this as an opportunity to create a new market for vegan food. We want to promote veganism because it is not only healthy for you and the planet, but it is not expensive. So you can afford to eat great, even late!</p>
		 		<p>Colleen Risbey is the owner and an innovator who mashed up vegan late night eats on a bike delivery system. With her passion to feed people and to be eco-conscious The Rolling Tomato has sprouted from seed to your door.
		 		</p>


 				<!-- <p><br/><a href="{{path.about}}" class="btn btn-theme">More Info</a></p> -->
	 		</div>
	 		
	 		<div class="col-lg-7">
	 			<h4>Frequently Asked</h4>
	 			<div class="hline"></div>
	 			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				          Is everything Vegan?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body">
				        YES! Even the mayo!
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          How do I order?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        <p>Call our number and we will take your address and order and be on our way.
				        </p>
				        <p><a class="btn btn-success" href='tel:5148879899'><i class="fa fa-phone"></i> 514 887-9899</a> or <a ><a class="btn btn-primary" href="https://twitter.com/tomateroulante"><i class="fa fa-twitter"></i> Tweet your order</a></p>

				         
				         
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          You are on a bike, How does this affect delivery service?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        We are testing this out and will be challenged in the winter because it is cold, but we have confidence that biking will be just as fast as driving. We also assure you that your food will not be compromised; we wrap all of our food nice and snug and have in place ways to keep our food from bumping around.
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFour">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				          Why can’t I make substitutions?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				      <div class="panel-body">
				        We prepare all of our food during the day and is packaged ready to go. Picture us as more of a canteen versus a restaurant where you can pick pre made items and enjoy them fast.
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFive">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				          Do you have Gluten-free options?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				      <div class="panel-body">
				        Yes we do! Our Gluten free items are mentioned.
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSix">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
				          Do you have Soy-free options?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
				      <div class="panel-body">
				        <p>Yes! We labelled the items that are soy free</p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSeven">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
				          Do you have nut-free options?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
				      <div class="panel-body">
				        <p>Yes, and many of our items are made with no contact with nuts, but again please be cautious for your safety we cannot guarantee a nut free environment as we do sell items with nuts.</p>
				      </div>
				    </div>
				  </div>
				</div>
	 		</div>
	 	</div><! --/row -->
	</div><! --/container -->
	 
	<!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->
	 
	<!-- *****************************************************************************************************************
	 OUR CLIENTS
	 ***************************************************************************************************************** -->

{% endblock %}
