{% extends './layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h3>{{ content.header.bigTag }}</h3>
					<h1 class="hand-writing">{{ content.navbar.logoText }}</h1>
					<h5>{{ content.header.littleTag }}</h5>
					<h5><a class="btn btn-success" href='tel:{{ content.contact.phone }}'><i class="fa fa-phone"></i> {{ content.contact.phone }}</a> {{ content.header.or }} <a ><a class="btn btn-primary" href="https://twitter.com/{{ content.contact.twitter }}"><i class="fa fa-twitter"></i> {{ content.header.tweetOrder }}</a></h5>				
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
					<a class="twitter-timeline"  href="https://twitter.com/tomateroulante" data-widget-id="529753107995951104">Tweets by @tomateroulante</a>
            		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">
 					<i class="fa fa-money"></i>
 					<h4>{{ content.service.col1_h }}</h4>
 					<p>{{ content.service.col1_p }}</p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-heart-o"></i>
 					<h4>{{ content.service.col2_h }}</h4>
 					<p>{{ content.service.col2_p }}</p>
 					<p><a class="btn btn-info" href="/img/tomate-roulante-MENU-2014.pdf">{{ content.service.col2_btn }}</a></p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-bolt"></i>
 					<h4>{{ content.service.col3_h }}</h4>
 					<p>{{ content.service.col3_p }}</p>
 				</div>		 				
	 		</div>
	 	</div><!--/container -->
	</div><!--/service -->
	 
	<!-- *****************************************************************************************************************
	 MAP SECTION
	 ***************************************************************************************************************** -->
	<div id="mapwrap">
		<div class="overlay" onClick="style.pointerEvents='none'"></div>
		<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zWSMbtQXCRF4.kCF9H9trG2-g" style="width:100%;" height="480" scrolling='yes'></iframe></iframe>
	</div>
	 
	<!-- *****************************************************************************************************************
	 INFO CONTEN
	 ***************************************************************************************************************** -->

	<div id="infowrap" class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-4 col-lg-offset-1">
		 		<h4>{{ content.info.col1_h }}</h4>
		 		<p>{{ content.info.col1_p1 }}</p>
		 		<p>{{ content.info.col1_p2 }}</p>
	 		</div>
	 		
	 		<div class="col-lg-6">
	 			<h4>{{ content.info.col2_h }}</h4>
	 			<div class="hline"></div>
	 			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				          {{ content.info.q1 }}
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body">
				        {{ content.info.a1 }}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          {{ content.info.q2 }}
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        {{ content.info.a2 }}
				        <p><a class="btn btn-success" href='tel:{{ content.contact.phone }}'><i class="fa fa-phone"></i> {{ content.contact.phone }}</a> {{ content.header.or }} <a ><a class="btn btn-primary" href="https://twitter.com/{{ content.contact.twitter }}"><i class="fa fa-twitter"></i> {{ content.header.tweetOrder }}</a></p>
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          {{ content.info.q3 }}
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        {{ content.info.a3 }}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFour">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				          {{ content.info.q4 }}
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				      <div class="panel-body">
				        {{ content.info.a4 }}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFive">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				          {{ content.info.q5 }}
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				      <div class="panel-body">
				        {{ content.info.a5 }}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSix">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
				          {{ content.info.q6 }}
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
				      <div class="panel-body">
				        {{ content.info.a6 }}
				      </div>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSeven">
				      <h4 class="panel-title">
				        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
				          {{ content.info.q7 }}
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
				      <div class="panel-body">
				        {{ content.info.a7 }}
				      </div>
				    </div>
				  </div>
				</div>
	 		</div>
	 	</div><!--/row -->
	</div><!--/container -->
	 
	<!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->
	 
	<!-- *****************************************************************************************************************
	 OUR CLIENTS
	 ***************************************************************************************************************** -->

{% endblock %}
