<div id="footerwrap">
 	<div class="container">
	 	<div class="row">
	 		<div class="col-lg-4">
	 			<h4>{{ content.footer.col1_h }}</h4>
	 			<div class="hline-w"></div>
	 			<p>{{ content.footer.col1_p }}</p>
	 		</div>
	 		<div class="col-lg-4">
	 			<h4>{{ content.footer.col2_h }}</h4>
	 			<div class="hline-w"></div>
	 			<p><strong>{{ content.footer.col2_p1 }}</strong></p>
	 			<p>{{ content.footer.col2_p2 }}</p>
	 		</div>
	 		<div class="col-lg-4">
	 			<h4>{{ content.footer.col3_h }}</h4>
	 			<div class="hline-w"></div>
	 			<p>
	 				<a href="http://www.tomateroulante.com"><i class="fa fa-dribbble"></i></a>
	 				<a href="https://www.facebook.com/pages/{{ content.contact.facebook }}"><i class="fa fa-facebook"></i></a>
	 				<a href="https://twitter.com/{{ content.contact.twitter }}"><i class="fa fa-twitter"></i></a>
	 				<!-- <a href="#"><i class="fa fa-instagram"></i></a>
	 				<a href="#"><i class="fa fa-tumblr"></i></a> -->
	 			</p>
	 			<p>
	 				{{ content.contact.street }}<br/>
	 				{{ content.contact.city }}, {{ content.contact.postcode }}<br/>
	 				{{ content.contact.country }}.<br/>
	 			</p>
	 		</div>
	 	
	 	</div><!--/row -->
 	</div><!--/container -->
</div><!--/footerwrap -->